<h1>Add a photo of yourself</h1>
<%= form_tag signup_path('photo'), multipart: true do %>
  <div class="field">
    <%= file_field_tag('user[photo]') %>
  </div>
  <%= submit_tag 'Continue', class: 'btn' %>
<% end %>

