<h1>Choose your design</h1>
<%= form_tag do %>
  <div class="field">
    <%= select_tag 'user[template_id]', options_from_collection_for_select(User::TEMPLATES, :first, :last) %>
  </div>
  <%= submit_tag 'Continue', class: 'btn' %>
<% end %>
